TenderServiceReference/TenderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddTender">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenderTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTenderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditTender">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tenderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tenderTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditTenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditTenderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTender">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tenderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteTenderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeTenderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tenderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeTenderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeTenderStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowTenders">
        <s:complexType />
      </s:element>
      <s:element name="ShowTendersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowTendersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="supplierName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowSuppliers">
        <s:complexType />
      </s:element>
      <s:element name="ShowSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowSuppliersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTenderSoapIn">
    <wsdl:part name="parameters" element="tns:AddTender" />
  </wsdl:message>
  <wsdl:message name="AddTenderSoapOut">
    <wsdl:part name="parameters" element="tns:AddTenderResponse" />
  </wsdl:message>
  <wsdl:message name="EditTenderSoapIn">
    <wsdl:part name="parameters" element="tns:EditTender" />
  </wsdl:message>
  <wsdl:message name="EditTenderSoapOut">
    <wsdl:part name="parameters" element="tns:EditTenderResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTenderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTender" />
  </wsdl:message>
  <wsdl:message name="DeleteTenderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTenderResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeTenderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeTenderStatus" />
  </wsdl:message>
  <wsdl:message name="ChangeTenderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeTenderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ShowTendersSoapIn">
    <wsdl:part name="parameters" element="tns:ShowTenders" />
  </wsdl:message>
  <wsdl:message name="ShowTendersSoapOut">
    <wsdl:part name="parameters" element="tns:ShowTendersResponse" />
  </wsdl:message>
  <wsdl:message name="AddSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:AddSupplier" />
  </wsdl:message>
  <wsdl:message name="AddSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:AddSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSupplier" />
  </wsdl:message>
  <wsdl:message name="DeleteSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ShowSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:ShowSuppliers" />
  </wsdl:message>
  <wsdl:message name="ShowSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:ShowSuppliersResponse" />
  </wsdl:message>
  <wsdl:portType name="TenderServiceSoap">
    <wsdl:operation name="AddTender">
      <wsdl:input message="tns:AddTenderSoapIn" />
      <wsdl:output message="tns:AddTenderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditTender">
      <wsdl:input message="tns:EditTenderSoapIn" />
      <wsdl:output message="tns:EditTenderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTender">
      <wsdl:input message="tns:DeleteTenderSoapIn" />
      <wsdl:output message="tns:DeleteTenderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeTenderStatus">
      <wsdl:input message="tns:ChangeTenderStatusSoapIn" />
      <wsdl:output message="tns:ChangeTenderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowTenders">
      <wsdl:input message="tns:ShowTendersSoapIn" />
      <wsdl:output message="tns:ShowTendersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <wsdl:input message="tns:AddSupplierSoapIn" />
      <wsdl:output message="tns:AddSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <wsdl:input message="tns:DeleteSupplierSoapIn" />
      <wsdl:output message="tns:DeleteSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowSuppliers">
      <wsdl:input message="tns:ShowSuppliersSoapIn" />
      <wsdl:output message="tns:ShowSuppliersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TenderServiceSoap" type="tns:TenderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTender">
      <soap:operation soapAction="http://tempuri.org/AddTender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTender">
      <soap:operation soapAction="http://tempuri.org/EditTender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTender">
      <soap:operation soapAction="http://tempuri.org/DeleteTender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTenderStatus">
      <soap:operation soapAction="http://tempuri.org/ChangeTenderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowTenders">
      <soap:operation soapAction="http://tempuri.org/ShowTenders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <soap:operation soapAction="http://tempuri.org/AddSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap:operation soapAction="http://tempuri.org/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSuppliers">
      <soap:operation soapAction="http://tempuri.org/ShowSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TenderServiceSoap12" type="tns:TenderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTender">
      <soap12:operation soapAction="http://tempuri.org/AddTender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTender">
      <soap12:operation soapAction="http://tempuri.org/EditTender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTender">
      <soap12:operation soapAction="http://tempuri.org/DeleteTender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTenderStatus">
      <soap12:operation soapAction="http://tempuri.org/ChangeTenderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowTenders">
      <soap12:operation soapAction="http://tempuri.org/ShowTenders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <soap12:operation soapAction="http://tempuri.org/AddSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap12:operation soapAction="http://tempuri.org/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSuppliers">
      <soap12:operation soapAction="http://tempuri.org/ShowSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TenderService">
    <wsdl:port name="TenderServiceSoap" binding="tns:TenderServiceSoap">
      <soap:address location="https://localhost:44315/TenderService.asmx" />
    </wsdl:port>
    <wsdl:port name="TenderServiceSoap12" binding="tns:TenderServiceSoap12">
      <soap12:address location="https://localhost:44315/TenderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>