RoleServiceReference/RoleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRoleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditRoleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteRoleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowRoles">
        <s:complexType />
      </s:element>
      <s:element name="ShowRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowRolesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddRoleSoapIn">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="AddRoleSoapOut">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="EditRoleSoapIn">
    <wsdl:part name="parameters" element="tns:EditRole" />
  </wsdl:message>
  <wsdl:message name="EditRoleSoapOut">
    <wsdl:part name="parameters" element="tns:EditRoleResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRoleSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="DeleteRoleSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ShowRolesSoapIn">
    <wsdl:part name="parameters" element="tns:ShowRoles" />
  </wsdl:message>
  <wsdl:message name="ShowRolesSoapOut">
    <wsdl:part name="parameters" element="tns:ShowRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="RoleServiceSoap">
    <wsdl:operation name="AddRole">
      <wsdl:input message="tns:AddRoleSoapIn" />
      <wsdl:output message="tns:AddRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <wsdl:input message="tns:EditRoleSoapIn" />
      <wsdl:output message="tns:EditRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input message="tns:DeleteRoleSoapIn" />
      <wsdl:output message="tns:DeleteRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowRoles">
      <wsdl:input message="tns:ShowRolesSoapIn" />
      <wsdl:output message="tns:ShowRolesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleServiceSoap" type="tns:RoleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <soap:operation soapAction="http://tempuri.org/EditRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRoles">
      <soap:operation soapAction="http://tempuri.org/ShowRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoleServiceSoap12" type="tns:RoleServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRole">
      <soap12:operation soapAction="http://tempuri.org/AddRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <soap12:operation soapAction="http://tempuri.org/EditRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap12:operation soapAction="http://tempuri.org/DeleteRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRoles">
      <soap12:operation soapAction="http://tempuri.org/ShowRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleService">
    <wsdl:port name="RoleServiceSoap" binding="tns:RoleServiceSoap">
      <soap:address location="https://localhost:44315/RoleService.asmx" />
    </wsdl:port>
    <wsdl:port name="RoleServiceSoap12" binding="tns:RoleServiceSoap12">
      <soap12:address location="https://localhost:44315/RoleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>